
{% extends "base.html" %}

{% block title %}{{ block.super }} | detailed view{% endblock title %}

<!-- https://docs.djangoproject.com/en/2.0/ref/templates/language/#template-inheritance -->

{% block content %}
 <!-- Page Content -->
    <div class="container pt-5 pb-5">

      <!-- Portfolio Item Heading -->
      <h1 class="my-4">{{ object.fullname_polit }}
        <small>Secondary Text</small>
      </h1>

      <!-- Portfolio Item Row -->
      <div class="row">

        <div class="col-md-3">
          <img class="img-fluid" src="http://placehold.it/250x250" alt="">
        </div>

        <div class="col-md-9">
          <h3 class="my-3">Summary</h3>
          <p>{{ object.summary_header }} </p>
          <h3 class="my-3">Project Details</h3>
          <ul>
            <li>Lorem Ipsum</li>
            <li>Dolor Sit Amet</li>
            <li>Consectetur</li>
            <li>Adipiscing Elit</li>
          </ul>
        </div>

      </div>
      <!-- /.row -->

     
      <!-- /.row -->

    </div>
    <!-- /.container -->
 <!-- <hr /> -->
{% endblock content %}
